*              @GaballaGit @sidvasu  # current team leads

*.nix          @thejolman
/.github/      @thejolman
/internal/api/ @thejolman

*.sql          @sidvasu
/internal/db/  @sidvasu

/internal/cli/ @GaballaGit
/utils/        @GaballaGit
