*              @thejolman @sidvasu  # current team leads

*.nix          @thejolman
/.github/      @thejolman

*.sql          @sidvasu
/internal/db/  @sidvasu

/internal/cli/ @GaballaGit
/utils/        @GaballaGit
