if ! has nix; then
  echo "WARNING: Nix is not installed!"
  echo "We recommend using Determinate Nix Installer to get started: https://determinate.systems/nix-installer/"
  exit 1
fi

if ! has nix-direnv-reload; then
  echo "WARNING: nix-direnv is recommended for better performance and caching."
  echo "To install, see https://github.com/nix-community/nix-direnv"
fi

watch_file nix/shell.nix
use flake
