if ! has nix; then
  echo -e "\033[31mWARNING: Nix is not installed!\033[0m"
  echo -e "\033[31mWe recommend using Determinate Nix Installer to get started: https://determinate.systems/nix-installer/\033[0m"
  exit 1
fi

watch_file nix/shell.nix
use flake

if ! has nix-direnv-reload; then
  echo -e "\033[31mWARNING: nix-direnv is recommended for better performance and caching.\033[0m"
  echo -e "\033[31mTo install, see https://github.com/nix-community/nix-direnv\033[0m"
fi
